/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #282828DD;
    background-alt: #282828DD;
    foreground:     #D4BE98FF; /*#EBDBB2FF;*/
    selected:       linear-gradient(#D4BE98FF,#D4BE98, #32302FDD);     
    active:         #B8BB26FF;
    urgent:         #FB4934FF;
}
